*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: url(bg2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    background-color: transparent;
    border: 2px solid rgba(7, 55, 137, 0.485);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 10px !important;
    margin-top: 1%;
}

.menus {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.card {
    height: 15vh !important;
    background-color: rgba(7, 57, 132, 0.463) !important;
    border: 2px solid rgba(7, 55, 137, 0.485);
    backdrop-filter: blur(5px);
}
